.MainLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  
}

.MainLogo .Logo{
  width: 400px;
  height: auto;
  
}

.Search {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Search-container {
  align-items: center;
  justify-content: center;
  width: 450px;
  display: flex;
  flex-direction: column;
}

.Search-inner {
  position: relative;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #bbb;
  margin: 10px 0;
  padding: 10px 12px;
  font-family: fontAwesome;
}
.fa-search {
  position: absolute;
  left: 15px;
  top: 20px;
  margin: 0;
}
.fa-keyboard {
  position: absolute;
  right: 35px;
  top: 20px;
}
.fa-microphone {
  position: absolute;
  right: 15px;
  top: 20px;
  color: blue;
}

.Dropdown {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  z-index: 99;
}

.Dropdown:empty {
  border: none;
  z-index: 99;
}

.Dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  z-index: 99;
}

.SearchList {
  list-style: none;
  padding: 0%;
}

.primary-nav {
  display: flex;
  height: 30px;
}

.primary-nav .Home {
  flex: 1;
}

.primary-nav .Nav_SearchBar {
  flex: 1;
  
}

.primary-nav .About {
  
}

/* 로딩창 */
.loaderBox{
  height: 550px;
  width: 100%;
  position: relative;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
  z-index: -1;
	animation: loader 1.5s linear;
	-webkit-animation: loader 1.5s linear ;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #000;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #ccc;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #000;
		border-left-color: transparent;
	}
}

/* 10년 차트 */
.recharts-surface{
  background-color: #fff;
}
.recharts-wrapper{
  margin-right: auto;
  margin-left: auto;
}

/* 라디오버튼 */

.checkBox{
  position: absolute;
  top: 630px;
  width: 100%;
  border-top: 1px solid #000;
}
.checkBox h3{
  margin-top: 20px;
}

/* 글자색 */
.upword{
  color: red;
}
.downword{
  color:blue;
}

/* about */
li {
  list-style: none;
}

.devel_proc {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.devel_proc li {
  margin-right: 30px;
  padding: 10px 5px;
  border-radius: 5px;
}

.devel_proc li:nth-child(1) {
  background-color: red; 
  color: white;
  font-weight: bold;
  opacity: 0.5;
}

.devel_proc li:nth-child(3) {
  background-color: yellow;
  font-weight: bold;
  opacity: 0.65;
}

.devel_proc li:nth-child(5) {
  background-color: green;
  color: white;
  font-weight: bold;
  opacity: 0.5;
}

.devel_proc li:nth-child(7) {
  background-color: blue;
  color: white;
  font-weight: bold;
  opacity: 0.5;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.disclaimer, .lstm {
  background-color: #eee;
  padding: 20px 10px;
  margin-top: 20px;
}